{{extend 'layout.html'}}

{{block head}}
<link rel="stylesheet" href="{{=URL('static','css/estilos.css')}}"/>
<link rel="stylesheet" href="{{=URL('static','css/leaflet.css')}}"/>
<link rel="stylesheet" href="{{=URL('static','css/leafletDraw.css')}}"/>
{{end}} 

{{block page_js}}
<script src="{{=URL('static','js/alerts1.js')}}"></script>
{{end}}

{{block header}}
<center style="background-color: #333; color:white; padding:30px">
  <h1> Maps Application </h1>
</center>
{{end}}

<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="{{=URL('default','index')}}">User Devices</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{=URL('default','alerts')}}">Alerts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{=URL('default','delimitation')}}">Areas Delimitation</a>
    </li>
</ul>
<br>
<div class="row container">
  <h2>Alerts Panel</h2>
</div>
<br>
<div class="row">
  <div class="col-sm-4" >
      <div class="form-group" id="FormGroup1">
          <form method="GET" action="javascript:void(0);">
              <!-- -->
              <div class="form-group">
                <label for="show-alerts-of"> Show alerts of: </label>
                <select id="show-alerts-of" name="show-alerts-of" class="form-control">
                    <option value="" disabled selected>Select an option.</option>
                    <option value="principal-zone"> Principal Zone </option>
                    <option value="specific-subzone"> Specific Subzone </option>
                </select>
              </div>
              <!--  -->
              <div class="form-group" id="option-search-zone">
                <label for="option-search-1" id="option-search-zone-label">Select the zone: </label>
                <select id="option-search-1" name="option-search-1" class="form-control">
                    <option value="" disabled selected> Select an option </option>
                </select>
              </div>
              <!---->
              <!--  -->
              <div class="form-group" id="option-search-subzone">
                <label for="option-search-2" id="option-search-subzone-label">Select the subzone: </label>
                <select id="option-search-2" name="option-search-2" class="form-control">
                    <option value="" disabled selected> Select an option </option>
                </select>
              </div>
              <!---->
              <!--  -->
              <div class="form-group">
                <label for="alerts-visualization">Choose an alert visualization: </label>
                <select id="alerts-visualization" name="alerts-visualization" class="form-control">
                    <option value="" disabled selected> Select an option </option>
                    <option value="history"> History Alerts </option>
                    <option value="current"> Current Alerts </option>
                </select>
              </div>
              <!---->
              <div class="form-group row">   
                <div class="col-12">
                  <button type="button" id="query" onclick="queryAlerts()" class="col-12 btn btn-success btn-rounded text-center "> Consult </button>
                </div>
                <!--<div class="col-6">
                  <button type="button" id="query" onclick="clearInputs()" class="col-12 btn btn-warning btn-rounded text-center"> Clear options </button>
                </div>-->
              </div>
          </form>
          <br>
      </div>
  </div>
  <br>
  <div class="col-sm-8">
      <h2 class="text-center"> Institution Map</h2>
      <div id="mapid">
      </div>
      <br>
      <!--- CARD DATA -->
      <!--<div class="card text-center">
          <div class="card-block">
              <h4 class="card-title"> Data: </h4>
              <p class="card-text" id="text-whowascard"></p>
          </div>
      </div>-->
      <!--END CARD DATA -->
  </div>
</div>