{{extend 'layout.html'}}

{{block head}}
<link rel="stylesheet" href="{{=URL('static','css/estilosApp.css')}}"/>
<link rel="stylesheet" href="{{=URL('static','css/leaflet.css')}}"/>
<link rel="stylesheet" href="{{=URL('static','css/leafletDraw.css')}}"/>
{{end}} 

{{block page_js}}
<script src="{{=URL('static','js/delimitation.js')}}"></script>
{{end}}

{{block header}}
<center style="background-color: #333; color:white; padding:30px">
  <h1> Maps Application </h1>
</center>
{{end}}

<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="{{=URL('default','index')}}">User Devices</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{=URL('default','alerts')}}">Alerts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{=URL('default','delimitation')}}">Zones/Subzones Delimitation</a>
    </li>
</ul>

<div class="form-group">
    <label for="campuslist">Select an option view: </label>
    <select class="form-control" id="optionsView" name="optionsView">
      <option value="" disabled selected> Select an option of view </option>
      <option value="zones"> Zones Delimitation </option>
      <option value="subzones"> Subzones Delimitation </option>
    </select>
</div>

<div class="row">
    <div class="col-sm-4" >
        <div class="form-group" id="FormGroup1">
            <h2>Delimite Zones</h2>
            <form method="GET" action="javascript:void(0);">
                <!-- Zone name-->
                <label for="zone-name"> Zone name: </label>
                <input type="text" name="zoneName" id="zone-name" class="form-control text-center">
                <!-- Categories -->
                <label for="categories"> Categories name: </label>
                <select id="categories" name="categories-list" class="form-control" multiple>
                    <option value="" disabled>Choose one or more options..</option>
                    <option value="category1" selected> category1 </option>
                    <option value="category2"> category2 </option>
                    <option value="category3"> category3 </option>
                </select>
                <!---->
                <!-- Address's Zone -->
                <div class="form-group">
                    <label for="InputAddressZone">Address's Zone: </label>
                    <textarea class="form-control text-center" id="InputAddressZone" placeholder="Insert the address of the zone" required rows="6"></textarea>
                </div>  
                <div class="form-group row">   
                    <div class="col-7">
                        <button type="button" class="col-12 btn btn-success btn-rounded text-center" onclick="searchAddress()">Search Address on Map</button>
                    </div>  
                    <div class="col-5">
                        <button type="button" class="col-12 btn btn-warning btn-rounded text-center" onclick="clearAddress()">Clear Address</button>
                    </div>      
                </div> 
                <!-- End Address's Zone-->
                <!-- Description Input-->
                <div class="form-group basic-textarea">
                    <label for="InputDescriptionZone"> Zone Description: </label>
                    <textarea class="form-control text-center" id="InputDescriptionZone" placeholder="Brief description of the zone" required rows="4"></textarea>
                </div>  
                <!-- End Description Input-->
                <br>
                <div class="form-group row">   
                    <div class="col-6">
                        <button type="button" id="query" onclick="saveZone()" class="btn btn-outline-info col-12"> Save </button>
                    </div>
                    <div class="col-6">
                        <button type="button" id="query" onclick="clearInputs()" class="btn btn-outline-danger col-12"> Cancel </button>
                    </div>
                </div>
            </form>
            <br>
        </div>
        <!--SUBZONES-->
        <div class="form-group" id="FormGroup2">
            <h2>Delimite subzones</h2>
            <form method="GET" action="javascript:void(0);">
                <!-- Subzone name-->
                <label for="zone-name"> Subzone name: </label>
                <input type="text" name="zoneName" id="zone-name" class="form-control text-center">
                <!-- Subzone Categories -->
                <label for="categories"> Subzone Categories name: </label>
                <select id="categories" name="categories-list" class="form-control" multiple>
                <option value="category1" selected> category1 </option>
                <option value="category2"> category2 </option>
                <option value="category3"> category3 </option>
                </select>
                <!---->
                <!--Zone Reference-->
                <label for="zone-reference"> Select the Zone of this subzone: </label>
                <select id="zone-reference" name="zone-reference" class="form-control">
                  <option value="" disabled selected>Select an option</option>
                </select>
                <!-- Description Input-->
                <div class="form-group basic-textarea">
                    <label for="InputDescriptionZone"> Subzone Description: </label>
                    <textarea class="form-control text-center" id="InputDescriptionZone" placeholder="Brief description of the subzone" required rows="4"></textarea>
                </div>  
                <!-- End Description Input-->
                <br>
                <div class="form-group row">   
                    <div class="col-6">
                        <button type="button" id="query" onclick="saveSubzone()" class="btn btn-outline-info col-12"> Save </button>
                    </div>
                    <div class="col-6">
                        <button type="button" id="query" onclick="clearInputs()" class="btn btn-outline-danger col-12"> Cancel </button>
                    </div>
                </div>
            </form>
            <br>
        </div>
        <!-- END SUBZONES-->
    </div>
    <br>
    <div class="col-sm-8">
        <h2 class="text-center"> Institution Map</h2>
        <div id="mapid">
        </div>
        <br>
        <!--- CARD DATA -->
        <div class="card text-center">
            <div class="card-block">
                <h4 class="card-title"> Data: </h4>
                <p class="card-text" id="text-whowascard"></p>
            </div>
        </div>
        <!--END CARD DATA -->
    </div>
</div>