{{extend 'layout.html'}}

{{block head}}
<link rel="stylesheet" href="{{=URL('static','css/estilosApp.css')}}"/>
<link rel="stylesheet" href="{{=URL('static','css/leaflet.css')}}"/>
<link rel="stylesheet" href="{{=URL('static','css/leafletDraw.css')}}"/>
{{end}} 

{{block page_js}}
<script src="{{=URL('static','js/moment.js')}}"></script>
<script src="{{=URL('static','js/moment-timezone.js')}}"></script>
<script src="{{=URL('static','js/luxon.min.js')}}"></script>
<script src="{{=URL('static','js/search1.js')}}"></script>
<script src="{{=URL('static','js/search2.js')}}"></script>
{{end}}

{{block header}}
<center style="background-color: #333; color:white; padding:30px">
  <h1> Maps Application </h1>
</center>
{{end}}
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="{{=URL('default','index')}}">User Devices</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{=URL('default','alerts')}}">Alerts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{=URL('default','delimitation')}}">Zones/Subzones Delimitation</a>
  </li>
</ul>

<div class="form-group">
  <label for="campuslist">Select an option view: </label>
  <select class="form-control" id="optionsView" name="optionsView">
    <option value="" disabled selected> Select an option of view </option>
    <option value="who-was"> Who was in the institution? </option>
    <option value="who-are"> Who are inside in the insitution? </option>
  </select>
</div>

  <div class="row">
    <div class="col-sm-4" >
      <div class="form-group" id="FormGroup1">
        <h2>Who was in the institution?</h2>
          <form method="GET" action="javascript:void(0);">
            <label for="select-search-zone"> Select the Campus: </label>
            <select id="select-search-zone" name="selectorZone" class="form-control">
              <option value="" disabled selected>Select an option</option>
            </select>
            <label for="options-search-user1"> Search a user by: </label>
            <select id="options-search-user1" name="selectorSearch1" class="form-control">
              <option value="idDevice" selected> ID Device </option>
              <option value="owner"> Owner Device </option>
              <option value="username"> Username </option>
            </select>
            <label for="input-search1" id="label-input-search1">ID Device: </label>
            <input type="text" name="input-search1" id="input-search1" class="form-control">
            <label for="options-list" id="label-options-list"> Select a search parameter: </label>
            <select id="options-list" name="selectorparameterSearch" class="form-control">
              <option value="" disabled>Select an option</option>
              <!--option value="date"> Date </option>-->
              <option value="dateTime" selected> Date and Time </option>
            </select>
            <label for="dateInput" id="label-date-input">DateTime: </label>
            <!--<input type="date" name="date" id="dateInput" class="form-control">-->
            <input type="datetime-local" name="dateTime" id="dateTimeInput" class="form-control">
            <br>
            <button type="button" id="query" onclick="searching1()" class="btn btn-outline-success col-12"> Consult </button>
          </form>
          <br>
          <div class="card text-center" style="width: 26rem;">
            <div class="card-block">
              <h4 class="card-title">User Data: </h4>
              <p class="card-text" id="text-whowascard"></p>
            </div>
          </div>
        </div>
        <!--WHO ARE IN THE INSTITUTION-->
        <div class="form-group" id="FormGroup2">
          <h2>Who are in the institution?</h2>
          <form method="GET" action="javascript:void(0);">
            <div class="form-group">
              <label for="campuslist">Select the Campus: </label>
              <select class="form-control" id="campuslist" name="campuslist">
                <option> Select an option </option>
              </select>
            </div>
            <label for="options-search-user2"> Search a user by: </label>
            <select id="options-search-user2" name="selectorSearch2" class="form-control">
              <option value="idDevice" selected> ID Device </option>
              <option value="owner"> Owner Device </option>
              <option value="username"> Username </option>
            </select>
            <label for="input-search2" id="label-input-search2">ID Device: </label>
            <input type="text" name="input-search2" id="input-search2" class="form-control">
            <br>
            <button type="button" id="query" onclick="searching2()" class="btn btn-outline-success col-12"> Consult </button>
          </form>
          <br>
          <div class="card text-center" style="width: 26rem;">
            <div class="card-block">
              <h4 class="card-title">User Data: </h4>
              <p class="card-text" id="text-whoarecard"></p>
            </div>
          </div>
        </div>
        <!-- END WHO ARE IN THE INSTITUTION-->
      </div>
      <br>
      <div class="col-sm-8">
        <h2 class="text-center"> Institution Map</h2>
        <div id="mapid">
        </div>
      </div>
    </div>




