{{extend 'layout.html'}}

{{block head}}
<link rel="stylesheet" href="{{=URL('static','css/estilosApp.css')}}"/>
<link rel="stylesheet" href="{{=URL('static','css/leaflet.css')}}"/>
<link rel="stylesheet" href="{{=URL('static','css/leafletDraw.css')}}"/>
{{end}} 

{{block page_js}}
<script src="{{=URL('static','js/searchWhere2.js')}}"></script>
<script src="{{=URL('static','js/searchWhere1.js')}}"></script>
{{end}}

{{block header}}
<center style="background-color: #333; color:white; padding:30px">
  <h1> Maps Application </h1>
</center>
{{end}}
<!-- As a link -->
<div class="form-group">
  <label for="campuslist">Select an option view: </label>
  <select class="form-control" id="optionsView" name="optionsView">
    <option value="" disabled selected> Select an option of view </option>
    <option value="who-was"> Who was in the institution? </option>
    <option value="who-are"> Who are inside in the insitution? </option>
  </select>
</div>

{{if 'message' in globals():}}

<div class="">
  <div class="row">
    <div class="col-sm-4" >
      <div class="form-group" id="FormGroup1">
        <h2>Who was in the institution?</h2>
          <form method="GET" action="javascript:void(0);">
            <label for="select-search-zone"> Select zone insitution: </label>
            <select id="select-search-zone" name="selectorZone" class="form-control">
              <option value="" disabled selected>Select an option</option>
            </select>
            <label for="options-search-user"> Search a user by: </label>
            <select id="options-search-user" name="selectorSearch" class="form-control">
              <option value="idDevice" selected> ID Device </option>
              <option value="owner"> Owner Device </option>
              <option value="username"> Username </option>
            </select>
            <label for="input-search" id="label-input-search">ID Device: </label>
            <input type="text" name="input-search" id="input-search" class="form-control">
            <label for="options-list" id="label-options-list"> Select a search parameter: </label>
            <select id="options-list" name="selectorparameterSearch" class="form-control">
              <option value="" disabled selected>Select an option</option>
              <<!--option value="date"> Date </option>-->
              <option value="dateTime" selected> Date and Time </option>
            </select>
            <label for="dateInput" id="label-date-input">Date: </label>
            <!--<input type="date" name="date" id="dateInput" class="form-control">-->
            <input type="datetime-local" name="dateTime" id="dateTimeInput" class="form-control">
            <br>
            <button type="button" id="query" onclick="searching()" class="btn btn-outline-success col-12"> Consult </button>
          </form>
        </div>
        <div class="form-group" id="FormGroup2">
          <h2>Who are inside in the institution?</h2>
          <div class="form-group">
            <label for="campuslist">Campus</label>
            <select class="form-control" id="campuslist" name="campuslist">
              <option>Choose the campus...</option>
            </select>
          </div>
          <label for="device">Search by Device ID</label>
          <input type="text" class="form-control" id="idDevice" placeholder="Search by Device ID">
          <button class="btn btn-primary" id="deviceButton">Search</button>
          <br>
          <br>
          <label for="exampleFormControlInput1">Search by user ID</label>
          <input type="email" class="form-control" id="userid" placeholder="Example : User:41">
          <button class="btn btn-primary" id="userIdButton" >Search</button>
          <br>
          <br>
          <label for="exampleFormControlInput1">Search by user name</label>
          <input type="email" class="form-control" id="name" placeholder="Example : Daniel Torres">
          <button class="btn btn-primary" id="nameButton" >Search</button>
          <br>
          <br>
        </div>
      </div>
      <div class="col-sm-8">
        <h2 class="text-center"> Institution Map</h2>
        <div id="mapid">
        </div>
      </div>
    </div>
  </div>
      

{{elif 'content' in globals():}}
{{=content}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}




